﻿@if (Request.IsAuthenticated)
{
    <form class="navbar-form pull-right form-inline" action="@Url.Action("LogOff", "Account")" method="post">
        <label class="checkbox">
            zalogowano jako: <strong>@Html.ActionLink(User.Identity.Name,"Index","User")</strong>
        </label>
        <button type="submit" class="btn btn-danger">Wyloguj</button>
    </form>
    
}
else
{
    <form class="navbar-form pull-right" style="margin-left: 10px;" action="@Url.Action("Register", "Account")" method="get">
        <button type="submit" class="btn btn-info">Zarejestruj</button>
    </form>
    <form class="navbar-form pull-right" action="@Url.Action("LogOn", "Account")" method="post">
        <input class="span2" type="text" placeholder="Login" name="UserName" />
        <input class="span2" type="password" placeholder="Hasło" name="Password" />
        <button type="submit" class="btn btn-success">Zaloguj</button>
    </form>
}

