﻿@using Isi2.Projekt.Contracts
@Html.ActionLink("Projekt", "Index", "Entry", null, new { @class = "brand" })

@{
    Func<string, string> IsActive = (link) =>
    {
        if (Request.RawUrl == link)
            return "active";
        return string.Empty;
        
    };

    Func<bool> IsAdmin = () =>
    {
        bool result = false; 
        result = (Session["isAdmin"] as bool?) == true;
        return result;
    };

    Func<string> GenerateHash = () => Isi2.Projekt.Web.Helpers.AccessGroupSecurityProvider
        .Instance.GenerateHash(((UserContract)Session["currentUser"]).Id);
}

<nav class="nav-collapse collapse">
    <ul class="nav">
        <li class="@IsActive(@Url.Action("Index", "Entry"))"><a href="@Url.Action("Index", "Entry")"><i class="icon-home icon-white"></i>&nbsp;Najlepsze</a></li>
        <li class="@IsActive(@Url.Action("Others", "Entry"))"><a href="@Url.Action("Others", "Entry")"><i class="icon-th-large icon-white"></i>&nbsp;Poczekalnia</a></li>
        @if (Request.IsAuthenticated)
        {
            if (IsAdmin()) { <li><a href="@Url.Action("Index", "Administrator", new { h=GenerateHash() })"><i class="icon-th-large icon-white"></i>&nbsp;Panel administratora</a></li> }
            <li class="@IsActive(@Url.Action("UploadImage", "Entry"))"><a href="@Url.Action("UploadImage", "Entry")"><i class="icon-plus icon-white"></i>&nbsp;Dodaj</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i>Panel użytkownika <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("GetFavouritesImagesForUser", "Entry")"><i class="icon-star icon-white"></i>&nbsp;Ulubione</a></li>
                    <li><a href="@Url.Action("ChangePassword", "Account")">Zmiana hasła</a></li>
                    <li><a href="@Url.Action("Index", "User")"><i class="icon-user"></i>&nbsp;Mój Profil</a></li>
                </ul>
            </li>
        }
    </ul>
    @Html.Partial("_LogOnPartial")
</nav>
