﻿@model Isi2.Projekt.Contracts.UserContract
        
@{
    var group = string.Empty;
    if (Model.Is_mod.HasValue && Model.Is_mod.Value)
    {
        group = "Moderatorzy";
    }
    if (Model.Is_admin.HasValue && Model.Is_admin.Value)
    {
        group = "Administratorzy";
    }
    if (Model.Is_mod == null && Model.Is_admin == null ||
        !Model.Is_mod.Value && !Model.Is_admin.Value)
    {
        group = "Użytkownicy";
    }
}

<h3 >@Model.Login</h3>   
<div class="well">
                          <table>
                              <tr>
                                  <td>Grupa:</td>
                                  <td>@group</td>
                              </tr>
                              <tr>
                                  <td>Email: </td>
                                  <td>@Html.DisplayFor(model => model.Email)</td>
                              </tr>
                              <tr>
                                  <td>Miasto: </td>
                                  <td>@Html.DisplayFor(model => model.City)</td>
                              </tr>
 
                              <tr>
                                  <td>Data ostatniego logowania: </td>
                                  <td>@Html.DisplayFor(model => model.Date_last_login)</td>
                              </tr>
                              <tr>
                                  <td>Data założenia konta: </td>
                                  <td>@Html.DisplayFor(model => model.Date_created)</td>
                              </tr>
                              <tr>
                                  <td>Zbanowany: </td>
                                  <td><b>
                                          @if (Model.Banned.HasValue && Model.Banned.Value)
                                          {
                                              <span style='color: red;'>TAK</span>
                                          }
                                          else
                                          {
                                              <span style='color: green;'>NIE</span>
                
                                          }
                                      </b>
                                  </td>
                              </tr>
                              @if (Model.Banned.HasValue && Model.Banned.Value)
                              {
                                  <tr>
                                      <td>Powód zbanowania: </td>
                                      <td>@Html.DisplayFor(model => model.Ban_reason)</td>
                                  </tr>     
                              }


                          </table>

</div>