﻿@model Isi2.Projekt.Contracts.EntryContract
@{      
    Func<bool> IsMod = () =>
    {
        bool result = false;
        if (!User.Identity.IsAuthenticated)
            return false;
        result = (Session["isMod"] as bool?) == true 
		|| (Session["isAdmin"] as bool? ) == true;
        return result;
    };
}

<div class="entry">
    <hr />
    <div style="text-align: center;">
        <a href="#">
            <img src="@Url.Content("~/Content/images/" + @Model.File)" class="img-polaroid" style="max-width: 100%;">
        </a>
    </div>
    
    <div style="height: 40px; margin-top: 20px;">
        <h6 style="float: left;">dodano: @Model.Created.ToShortDateString() przez <strong><a href="">@Model.Username</a></strong></h6>
        
        <span style="float: right;">
                @if (User.Identity.IsAuthenticated)
        {
          
            if (Model.EntryAlreadyVotedFor)
            {
                <img src="../../Content/img/plus01.jpg" onmouseover="this.src='../../Content/img/plus02.jpg'" onmouseout="this.src='../../Content/img/plus01.jpg'" id="@(Model.Id + "plus")" style="margin-right:5px; " onclick="this.onmouseout=''; this.disabled=true; document.getElementById('@(Model.Id+"plusNum")').innerHTML=parseInt(document.getElementById('@(Model.Id+"plusNum")').innerHTML)+1; this.onclick='' " ></img>
            }
            else
            {
                <img src="../../Content/img/plus02.jpg" style="margin-right:5px;" ></img>
            }
            <span id="@(Model.Id + "plusNum")" style="color:Green; font-size:1.4em; font-style: oblique; margin-right:15px;" >  
                @Model.VotesNumber
            </span>                
            if (!Model.ImageAlreadyInFavourites)
            {
                        <button class="btn btn-inverse" id="@(Model.Id + "btn")" style="margin-right:10px;" onclick="this.disabled=true" > Lubie </button>
            }
            else
            {
                <button class="btn btn-inverse" disabled = "disabled" style="margin-right:5px"> Lubie </button>
            }
        }
        <a class="btn btn-inverse" href="#">Komentarze &raquo;</a>
        @if (IsMod())
        {
            @Html.ActionLink("Ukryj", "HideImage", new { imageId = Model.Id }, new { @class = "btn btn-danger" });
        }</span>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#@(Model.Id + "btn")').bind('click', function () {
            
            $.ajax({
                url: '@Url.Action("AddImageToFavourite", "Entry")',
                data: { entryId: '@Model.Id', userLogin: '@User.Identity.Name'},
                dataType: 'json',
                success: function (result) {
                },
                
            })
        })
    });

    $(document).ready(function () {

        $('#@(Model.Id + "plus")').bind('click', function () {

            $.ajax({
                url: '@Url.Action("VoteForEntry", "Entry")',
                data: { entryId: '@Model.Id', userLogin: '@User.Identity.Name'},
                dataType: 'json',
                success: function (result) {
                },
                
            })
        })
    });


</script>
