﻿@model Isi2.Projekt.Contracts.UserContract
@{
    ViewBag.Title = "Index";
}


<h4>Witaj @Model.Login </h4>

<p>Wyszukaj użytkownika aby go zbanować lub nadać uprawnienia.</p>
<div class="controls">
<div class="input-prepend">
      <span class="add-on"><i class="icon-search"></i></span>
      <input id="userNameField" type="text" placeholder="Podaj nazwę użytkownika..." style="width:180px;"/>
    </div>
    </div>
<div id="userCard"></div>
<script type="text/javascript">



    $('#userNameField').autocomplete({
        source: '@Url.Action("Users", "Administrator")',
        minLength: 1,
        messages: {
            noResults: '',
            results: function () { }
        },
        select: function (event, ui) {
            $.ajax({
                url: '@Url.Action("UserCard", "Administrator")',
                data: { id: ui.item.id },
                dataType: 'html',
                success: function (result) {
                    $('#userCard').html(result);
                },

            })


        }

    });


</script>
